{% raw %}
CONFIGDB = /usr/local/share/mail/db.sqlite

domainlist virtual_domains = ${lookup sqlite { CONFIGDB \
            SELECT domain FROM mailboxes WHERE domain='${quote_sqlite:$domain}' \
                  UNION \
            SELECT domain FROM aliases WHERE domain='${quote_sqlite:$domain}' \
                  UNION \
            SELECT domain FROM catchall WHERE domain='${quote_sqlite:$domain}'\
         }}
{% endraw %}
