{% raw %}
CONFIGDB = /usr/local/share/mail/db.sqlite

domainlist local_domains = ${lookup sqlite { CONFIGDB\
            SELECT domain FROM user WHERE domain='${quote_sqlite:$domain}' \
                  UNION \
            SELECT domain FROM alias WHERE domain='${quote_sqlite:$domain}' \
                  UNION \
            SELECT domain FROM catchall WHERE domain='${quote_sqlite:$domain}'\
         }}
{% endraw %}
